.first{
    margin-top: 40px;
    margin-left: 50px;
}
.second{
    margin-top: -210px;
    margin-left:450px ;
}
.three{
    margin-top: -200px;
    margin-left:840px ;
}
.four{
    margin-top: 90px;
    margin-left: 50px ;
}
.five{
    margin-top: -210px;
    margin-left:450px ;
}
.six{
    margin-top: -200px;
    margin-left:860px ;
}